{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
<h1>Page d'accueil</h1>
<br>
<a href="" class="btn btn-primary">Mon page d'accueil</a>
<br>
<img src="{{asset('assets/images/1.jpg')}}" width="200px" alt="" srcset="">
{% endblock %}
