{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<h1>Administration</h1>
<br>
<a href="" class="btn btn-primary">Admin</a>
<br>
<img src="{{asset('assets/images/2.jpg')}}" width="200px" alt="" srcset="">
{% endblock %}